<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script>
    var status = '<%- JSON.stringify(status) %>';

    if (JSON.parse(status) == "verified") {
      if (confirm("Do you want to login?")) {
        window.location.href = "http://localhost:5173/signin";
      }
    }
  </script>
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">
  <h1 class="text-3xl font-bold mb-6">Reset Password</h1>
  <h2 class="text-lg mb-4"><%= email %></h2>
  <form action="" method="post" class="bg-white p-6 rounded-lg shadow-md">
    <input type="password" name="password" id="password" placeholder="Password" class="w-full border border-gray-300 rounded-lg p-2 mb-2" />
    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" class="w-full border border-gray-300 rounded-lg p-2 mb-4" />
    <input type="submit" value="Submit" class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg cursor-pointer hover:bg-blue-600" />
  </form>
</body>
</html>
