.admin-payment-container {
    text-align: center;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input {
    width: 200px; /* Adjust the width as needed */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  position: absolute; /* Position the search input absolutely */
  top: 10px; /* Adjust top position as needed */
  right: 20px; /* Adjust right position as needed */

  }
  