<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>We are From Event Planner SLIIT</p>
        <p>{{description}}</p>

        <p>This is a system generated email, please dont reply to this email</p>
        
    </body>
</html>